<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "custom/mycustom", :media => "all" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="drawer drawer--right">
    <%= yield %>

    <!--footer-->
    <div id="footer-wrap">
        <div id="footer">
          Copyright - Toshiki Shimosawa, 2020 All Rights Reserved.
        </div>
    </div>
    
  </body>

</html>
